section {
  display: grid;
  grid-template-areas: "main";
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; /* Dos filas: 70px para el encabezado y el resto para el área principal */
  background-color: #161722;
}

header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
}

main {
  grid-area: main;
}
